.image_style {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  border-radius: 10px;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.mobile_container {
  justify-content: center;
  margin: 0 auto;
  display: flex;
  width: 270px;
  height: 90px;
}
.desktop_container {
  justify-content: center;
  margin: 0 auto;
  display: flex;
  width: 728px;
  height: 90px;
}

@media (max-width: 740px) {
  .desktop_container {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    width: 270px;
    height: 90px;
  }
}
